/* 1st section Style */
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: auto;
}
.banner {
  /* margin: 3%; */
  position: relative;
}
.header-text {
  position: absolute;
  top: 216px;
  left: 845px;
  right: 150px;
  /* padding: 216px 150px 0px 845px;    clear hote hobe kano kaj kore na */
}
.header-text {
  text-align: right;
}
.header-text h4 {
  font-weight: 700;
  font-size: 65px;
  color: white;
}
.header-text p {
  color: white;
  margin-top: 26px;
  margin-bottom: 32px;
}
.btn-primary {
  background-color: white;
  height: 64px;
  width: 160px;
  border-radius: 8px;
  border: none;
}

/* 2nd section style */
.content {
  margin: 70px 180px;
  text-align: left;
}
.content-img-div {
  display: flex;
  gap: 90px;
}
.content-blog-div h4 {
  font-weight: 700;
  font-size: 40px;
  margin-top: 200px;
}
.content-blog-div p {
  font-weight: 400;
  font-size: 18px;
  color: #444343;
  margin-top: 14px;
  margin-bottom: 14px;
}
/* 3rd section style */
.section-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
.myplane-blog {
  display: flex;
  margin-top: 40px;
}
.plane-item img{
    /* text-align: center; */
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;

}

.plane-item h4 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 18px;
  
}
.plane-item p{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;
}
/* 4th section style */
